/* Variables */

:root {
  --body-color: #fff;
  --primary-color: #fd9c50;
  --secondary-color: #034d5a;
  --footer-color: #034d5a;
  --header-font: "Merriweather", serif;
  --body-font: "Raleway", sans-serif;
  --body-font-size: 0.9rem;
  --text-white: #fff;
  --text-dark: #45494b;
  --line-height-h2: 36px;
  --border-color-grey: #c6cdcd;
  --padding-inline-mobil: 30px;
  --li-marker-color: #c6cdcd;
}

/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--body-color);
}

img {
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
  font-family: var(--header-font);
  font-weight: lighter;
  letter-spacing: 2px;
}

p,
li,
span {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: 28px;
}

h1 {
  font-size: 30px;
}

h2,
.h1_line {
  font-size: 20px;
  line-height: var(--line-height-h2);
  color: var(--text-dark);
  margin-bottom: 4vh;
  width: fit-content;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, transparent 10%, #fd9c50 10%) 2;
}

p {
  font-weight: lighter;
}

@media screen and (max-width: 450px) {
  .h1_line {
    padding: var(--padding-inline-mobil);
    margin-bottom: 0;
    width: 90%;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

ul li::marker {
  color: var(--li-marker-color);
  font-size: 200%;
}

.li_dot li {
  list-style: none;
}
.li_dot li::before {
  content: "xx";
  color: transparent;
  background-color: var(--li-marker-color);
  margin-right: 8px;
  border-radius: 50%;
  font-size: 10px;
}

/* Buttons */

button {
  width: fit-content;
  height: 40px;
  padding-inline: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.primary-button {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid transparent;
}

.secondary-button {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

/* Container */

.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
}

/* Classes */

.line {
  height: 2px;
  background-color: var(--primary-color);
}

.hide {
  display: none !important;
}

/* temporal css */

.m_top_page {
  margin-top: 10vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: auto;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35% auto;
  background-color: var(--secondary-color);
  color: var(--text-white);
  width: 80vw;
  height: 50%;
}

.form_modal .m_text {
  justify-self: center;
  grid-area: 2/1/3/4;
  padding-inline: var(--padding-inline-mobil);
}

.form_modal .m_close {
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
  grid-area: 1/3/2/4;
  margin: 2rem;
}

.noscroll {
  overflow: hidden;
}
