.fqa-section {
  width: 65%;
  margin: auto;
  margin-top: 10vh;
}

.fqa-item {
  cursor: pointer;
  border: 2px solid var(--border-color-grey);
  margin-bottom: 20px;
}

.fqa-header {
  margin-left: 2vw;
  border: none;
  color: var(--text-dark);
  font-size: 1rem;
  align-self: center;
}

.fqa-p {
  width: 80%;
  margin: auto;
}

.fqa-collapse p {
  transform: scaleY(0);
  height: 0;
}

.fqa-collapse .triangle {
  background-image: url(/media/fqa-triangle.svg);
}

.item-triangle {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}
.triangle {
  background-image: url(/media/fqa-triangle-collapse.svg);
  width: 4rem;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-right: 20px;
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .fqa-section {
    width: 90%;
    margin-top: 8vh;
  }

  .fqa-header {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .h1_line {
    margin-top: 70px;
  }

  .fqa-item {
    padding-inline: 10px;
  }

  .item-triangle {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
  }

  .fqa-header {
    margin-left: 0;
    font-size: 0.8rem;
    line-height: 20px;
  }

  .fqa-p,
  .fqa-p p {
    width: 100%;
  }

  .fqa-collapse .triangle {
    margin-top: 20px;
    height: 18px;
  }

  .triangle {
    margin-right: -6px;
    height: 18px;
  }
}
