.fqa-section {
  width: 65%;
  margin: auto;
  margin-top: 10vh;
}

.fqa-item {
  cursor: pointer;
  border: 2px solid var(--border-color-grey);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.fqa-header {
  margin-left: 2vw;
  border: none;
  color: var(--text-dark);
  font-size: 1rem;
  align-self: center;
}

.fqa-p {
  width: 80%;
  margin: auto;
}

.fqa-collapse p {
  transform: scaleY(0);
  height: 0;
}

.fqa-collapse .triangle {
  background-image: url(/media/fqa-triangle.svg);
}

.item-triangle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 65px;
}
.triangle {
  background-image: url(/media/fqa-triangle-collapse.svg);
  width: 4rem;
  background-repeat: no-repeat;
  display: flex;
  margin-top: 24px;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .fqa-section {
    width: 90%;
    margin-top: 8vh;
  }
}

@media screen and (max-width: 450px) {
  .fqa-item {
    padding-inline: 12px;
  }

  .fqa-header {
    margin-left: 0;
  }

  .fqa-p,
  .fqa-p p {
    margin-block: inherit;
    width: 100%;
  }

  .fqa-collapse .triangle {
    margin-top: 20px;
  }

  .item-triangle {
    height: 45px;
  }

  .triangle {
    margin-right: -6px;
  }
}
