.splash_wrapper {
  display: grid;
  grid-template-columns: 5vw auto 20vw;
  grid-template-rows: 5vw auto 10vw;
}

.splash_wrapper img {
  grid-area: 1/1/4/4;
  height: 80vh;
}

.splash_wrapper h1 {
  grid-area: 2/2/3/3;
  color: var(--text-white);
  line-height: 60px;
}

.splash_wrapper button {
  grid-area: 2/2/3/3;
  align-self: end;
  justify-self: end;
}

.trainings_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 12vh auto;
}

.trainings_wrapper article {
  padding: 30px;
}

.trainings_wrapper article button {
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
}

.row {
  background: var(--secondary-color);
  padding: 70px;
  color: var(--text-white);
}

.references_wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr 10%;
  grid-template-areas: 
    ". . ."
    ". legend .";
  justify-items: center;
}
.references_wrapper svg {
  width: 50px;
  height: 50px;
  align-self: center;
  fill: var(--primary-color);
}
.references_wrapper .legend_wrapper{
  grid-area: legend;
}

.references_wrapper .legend_wrapper .legend{
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: var(--border-color-grey);
  padding-inline: 0;
  border: 0;
  margin: 5px;
}
.references_wrapper .legend_wrapper .legend.active{
  background-color: var(--primary-color);
}


.references_wrapper .reference {
  width: 50%;
}

.references_wrapper .reference article {
  display: grid;
}

.references_wrapper h2 {
  justify-self: center;
  color: var(--text-white);
  border: none;
}

.references_wrapper span {
  width: 70%;
  height: 2px;
  background-color: var(--primary-color);
  margin: 20px auto;
}

.list_wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 10vw auto auto;
  margin: 4vw auto;
}

.list_wrapper .list_title {
  grid-area: 1/1/2/4;
}

.list_wrapper .line {
  width: 70%;
}

.list_wrapper ul {
  grid-area: 3/1/4/10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
}

.list_wrapper ul li {
  font-family: var(--header-font);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 4vw;
  color: var(--text-dark);
  list-style: none;
}

.list_wrapper ul li::before {
  content: "bb";
  color: transparent;
  background-color: var(--li-marker-color);
  border-radius: 50%;
  margin-right: 6px;
}

@media screen and (max-width: 700px) {
  .splash_wrapper h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .trainings_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .list_wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .list_wrapper ul {
    grid-template-columns: auto;
  }

  .list_wrapper .list_title {
    padding-inline: var(--padding-inline-mobil);
  }
}

@media screen and (max-width: 450px) {
  .splash_wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--footer-color);
  }

  .splash_wrapper h1 {
    grid-area: 1/1/2/2;
    font-size: 14px;
    line-height: 26px;
    padding-inline: var(--padding-inline-mobil);
  }

  .splash_wrapper img {
    grid-area: 2/1/3/2;
    height: 45vh;
  }

  .splash_wrapper button {
    grid-area: 3/1/4/2;
    justify-self: center;
    margin: 8vw 0 10vw 12vw;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }

  .trainings_wrapper {
    grid-template-columns: auto;
  }

  .row {
    padding-inline: var(--padding-inline-mobil);
  }

  .references_wrapper {
    grid-template-columns: 10% 80% 10%;
  }

  .references_wrapper article {
    width: 100%;
  }
}


.slideLeftNFadeOut {
 animation-name: slideLeftNFadeOut;
 animation-duration: .5s;
}
.slideLeftNFadeIn {
  animation-name: slideLeftNFadeIn;
  animation-duration: .5s;
 }
 .slideRightNFadeOut {
  animation-name: slideRightNFadeOut;
  animation-duration: .5s;
 }
 .slideRightNFadeIn {
   animation-name: slideRightNFadeIn;
   animation-duration: .5s;
  }
 

@keyframes slideLeftNFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-250px);
  }
}
@keyframes slideLeftNFadeIn {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightNFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(250px);
  }
}
@keyframes slideRightNFadeIn {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}