.kontakt_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  background-color: var(--secondary-color);
  color: var(--text-white);
  padding: 50px;
}

.mail {
  text-align: center;
  padding: 50px;
  line-height: 40px;
}

.form {
  background-color: var(--secondary-color);
  padding: 80px;
  margin-top: 12vh;
  width: 70%;
  margin-inline: auto;
  color: var(--text-white);
  text-transform: uppercase;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 14px;
}

.firma {
  grid-area: 2/1/3/3;
}

.email {
  grid-area: 3/1/4/3;
}

.message {
  grid-area: 4/1/5/3;
}

.send_button {
  grid-area: 5/1/6/3;
  justify-self: self-end;
}

.form h2 {
  color: var(--text-white);
}

.form div {
  display: grid;
  grid-template-rows: auto 0 auto;
  margin-bottom: 16px;
}

.form label {
  margin-bottom: 6px;
}

.form input {
  padding: 18px;
}

@media screen and (max-width: 1000px) {
  .form {
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .kontakt_grid {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .send_button {
    justify-items: end;
  }
}

@media screen and (max-width: 450px) {
  .contact_wrapper {
    background-color: var(--secondary-color);
    color: var(--text-white);
    display: grid;
  }

  .h1_line {
    color: var(--text-white);
    grid-area: 1/1/2/1;
  }

  .form {
    grid-area: 2/1/3/2;
    padding: var(--padding-inline-mobil);
    margin-top: 4vh;
    width: 100%;
  }

  .text {
    padding-inline: var(--padding-inline-mobil);
    padding-bottom: 0;
    background-color: var(--body-color);
    color: var(--text-dark);
  }

  .mail {
    background-color: var(--body-color);
    color: var(--text-dark);
    padding: var(--padding-inline-mobil);
    font-size: 0.8rem;
    line-height: 26px;
  }
}
