.training_content {
  display: grid;
  grid-template-columns: 70% 30%;
}

.col_text {
  background-color: var(--footer-color);
  padding: 44px;
  color: var(--text-white);
}

.col_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2vh;
}

.col_img img {
  padding: 8px;
}

.form {
  background-color: var(--secondary-color);
  margin-left: 2vw;
  padding: 20px;
  margin-top: 12vh;
  color: var(--text-white);
  text-transform: uppercase;
}

.form h2 {
  color: var(--text-white);
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form div:last-child {
  display: grid;
  justify-content: flex-end;
}

.form label {
  margin-bottom: 6px;
}

.form input {
  padding: 10px;
}

.form button {
  padding: 10px 40px;
}

@media screen and (max-width: 800px) {
  .training_content {
    grid-template-columns: auto;
  }

  .form {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  article h2 {
    margin-bottom: 0;
    padding-inline: var(--padding-inline-mobil);
  }

  .training_content {
    display: grid;
    grid-template-columns: auto;
  }

  .form {
    display: block;
    background-color: var(--body-color);
    color: var(--text-dark);
  }

  .form h2 {
    color: var(--text-dark);
    margin-bottom: 4vh;
  }

  .form input,
  .form textarea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--border-color-grey);
  }

  .form .primary-button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
  }

  .col_text {
    background-color: var(--body-color);
    color: var(--text-dark);
    padding: 30px;
  }
}
