.trainings_title h2 {
  line-height: var(--line-height-h2);
}

.trainings_wrapper {
  display: grid;
}

.header_2 {
  color: var(--text-white);
}

article {
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
  background-color: var(--secondary-color);
}

article:nth-child(2) {
  flex-direction: row-reverse;
}

article * {
  flex-grow: 1;
  flex-basis: 300px;
  display: grid;
  align-items: center;
}

.training_text {
  padding: 50px;
  color: var(--text-white);
}

.training_image img {
  height: 100%;
}

.btn_desktop {
  justify-self: end;
}

.btn_mobil {
  display: none;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
  }

  article,
  article:nth-child(2) {
    flex-direction: column-reverse;
  }

  article {
    background-color: var(--body-color);
    margin-bottom: 0;
  }
  article:nth-child(2) {
    background-color: var(--secondary-color);
    margin-top: 20px;
  }

  article:nth-child(2) h2,
  article:nth-child(2) p {
    color: var(--text-white);
  }

  .training_text,
  .header_2 {
    color: var(--text-dark);
  }

  .header_2 {
    border: none;
  }

  .training_text,
  .training_image {
    padding-inline: var(--padding-inline-mobil);
  }

  .btn_desktop {
    display: none;
  }

  .btn_mobil {
    display: block;
    width: 100%;
    margin-block: 20px;
  }
}

@media screen and (max-width: 450px) {
  .h1_line {
    margin-top: 70px;
  }
}
